
@font-face {
    font-family: 'Duru Sans';
    src: url('../fonts/durusans-regular-webfont.eot');
    src: url('../fonts/durusans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/durusans-regular-webfont.woff') format('woff'),
         url('../fonts/durusans-regular-webfont.ttf') format('truetype'),
         url('../fonts/durusans-regular-webfont.svg#duru_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}